<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conexiones Bluetooth / Wi-fi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-icon size="large" name="bluetooth-outline"></ion-icon>
  <p>Bluetooth</p>
  <ion-toggle ></ion-toggle>
  <p></p>
  <ion-icon size="large" name="wifi-outline"></ion-icon>
  <p>Bluetooth</p>
  <ion-toggle></ion-toggle>
  
</ion-content>
