<ion-header>
  <ion-toolbar>
    <ion-avatar slot="end">
      <img src="/assets/logo.jpeg" alt="">
    </ion-avatar>
    <ion-title text="start">Sensores(Voz y Proximidad)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          Que desea configurar?
          SENSORES
        </ion-label>
      </ion-list-header>
  
      <ion-item>
        <ion-icon name="mic-circle-outline"></ion-icon>
          <ion-label> Voz </ion-label>
          <ion-toggle slot="end"></ion-toggle>
      </ion-item>
  
      <ion-item>
        <ion-icon name="radio-outline"></ion-icon>
        <ion-label>Proximidad</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
  
    </ion-radio-group>
  </ion-list>
</ion-content>